<!DOCTYPE html>
<html
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

	<body>
		<div layout:fragment="content">
			<div>
				<img th:src="@{/images/bf_iconeUsuario.png}" class="user-icon"/>
				<h1>Autenticação</h1>
				<form method="post" action="">
					<fieldset>
						<input type="text" name="email" placeholder="E-mail..."/>
						<input type="password" name="password" placeholder="Senha..."/>	
						<input type="button" value="Entrar" onClick="location.href='clienteHome.html';"/>
					</fieldset>
				</form>
			</div>
	
			<br/>
	
			<div id="error-message">
				Mensagem de erro...
			</div>
	
			<br/>
	
			<div>
			
				<form method="GET" th:action="@{/public/custumer/new}">
					<input type="submit" value="Gostaria de criar a minha conta de cliente"/>
				</form>
				
				<form method="GET" th:action="@{/public/restaurant/new}">
					<input type="submit" value="Gostaria de criar a minha conta de restaurante"/>
				</form>
			</div>
		</div>
	</body>
</html>