<!DOCTYPE html>
<html
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

	<body>
		<div layout:fragment="content">
			<div>
				<h1>Cadastro de Restaurante</h1>	
				
				<div id="success-message" th:if="${msg} != null">
					<span th:text="${msg}"></span>
				</div>
	
				<br/>
	
				<div>
					<form method="POST" th:object="${restaurant}" th:action="${!isEditMode} ? @{/public/restaurant/save} : @{/restaurant/save}" enctype="multipart/form-data">
						<fieldset>
							<label for="name">Nome do Restaurante:</label>
							<br/><input type="text" id="name" name="name" placeholder="Nome..." th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'input-error' : ''"/>	
							<br/><br/>
		
							<div id="error-message" th:if="${#fields.hasErrors('name')}">
								<span th:errors="*{name}"></span>
							</div>
	
							<label for="cnpj">CNPJ:</label>
							<br/><input type="text" id="cnpj" name="cpnj" placeholder="CNPJ..." th:field="*{cnpj}" th:classappend="${#fields.hasErrors('cnpj')} ? 'input-error' : ''"/>	
							<br/><br/>
							
							<div id="error-message" th:if="${#fields.hasErrors('cnpj')}">
								<span th:errors="*{cnpj}"></span>
							</div>							
	
							<label for="email">E-mail:</label>
							<br/><input type="text" id="email" name="email" placeholder="E-mail..." th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'input-error' : ''"/>	
							<br/><br/>

							<div id="error-message" th:if="${#fields.hasErrors('email')}">
								<span th:errors="*{email}"></span>
							</div>
	
							<label for="phone">Telefone:</label>
							<br/><input type="text" id="phone" name="phone" placeholder="Telefone..." th:field="*{phone}" th:classappend="${#fields.hasErrors('phone')} ? 'input-error' : ''"/>	
							<br/><br/>

							<div id="error-message" th:if="${#fields.hasErrors('phone')}">
								<span th:errors="*{phone}"></span>
							</div>
								
							<label for="baseDeliveryRate">Taxa base de entrega:</label>
							<br/><input type="text" id="baseDeliveryRate" name="baseDeliveryRate" placeholder="Taxa..." th:field="*{baseDeliveryRate}" th:classappend="${#fields.hasErrors('baseDeliveryRate')} ? 'input-error' : ''"/>	
							<br/><br/>

							<div id="error-message" th:if="${#fields.hasErrors('baseDeliveryRate')}">
								<span th:errors="*{baseDeliveryRate}"></span>
							</div>
							
							<label for="deliveryTime">Tempo de entrega (min.):</label>
							<br/><input type="text" id="deliveryTime" name="deliveryTime" placeholder="Tempo..." th:field="*{deliveryTime}" th:classappend="${#fields.hasErrors('deliveryTime')} ? 'input-error' : ''"/>	
							<br/><br/>

							<div id="error-message" th:if="${#fields.hasErrors('deliveryTime')}">
								<span th:errors="*{deliveryTime}"></span>
							</div>
							
							<label for="categories">Categoria de comida:</label>
							<br/>
							<select id="categories" name="categories" multiple="multiple" th:field="*{categories}">
								<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">Salada</option>	
							</select>	
							<br/><br/>
							
							<div id="error-message" th:if="${#fields.hasErrors('categories')}">
								<span th:errors="*{categories}"></span>
							</div>
	
							<label for="logotipoFile">Logotipo:</label>
							<br/><input type="file" id="logotipoFile" name="logotipoFile" th:field="*{logotipoFile}" th:classappend="${#fields.hasErrors('logotipoFile')} ? 'input-error' : ''"/>	
							<br/><br/>
							
							<div id="error-message" th:if="${#fields.hasErrors('logotipoFile')}">
								<span th:errors="*{logotipoFile}"></span>
							</div>
	
							<label for="password">Senha:</label>
							<br/><input type="password" id="password" name="password" placeholder="Senha..." th:classappend="${#fields.hasErrors('password')} ? 'input-error' : ''"/>	
							<br/><br/>
	
							<div id="error-message" th:if="${#fields.hasErrors('password')}">
								<span th:errors="*{password}"></span>
							</div>
	
							<br/>
							
							<input type="submit" th:value="${!isEditMode} ? Cadastrar : Alterar"/>
						</fieldset>
					</form>
				</div>
	
				<br/>
				
				<input type="button" value="Voltar" th:onClick="'location.href=\'' + @{/restaurant/home} + '\';'"/>
			</div>
		</div>
	</body>
</html>